/* .p {
    margin-left: 10px;
} */

.register {
    border-radius: 1em;
    justify-content: center;
}

.btn {
    background-color: #00519F;
    width: 140px;
    height: 40px;
    padding: 0px
}

.my-cards {
    margin: 1.5em;
}

.d-inline-block {
    width: 100%;
}