/* .App {
    height: 100vh;
} */

.sidebar {
    background-color: #f2f2f2;
}

.content {
    background-color: #f4f4f4;
}

.ĺist-group {
    padding: 0;
    background-color: #f2f2f2;
}

.parraghaf {
    margin-left: 10px;
}

.infoTemplateHome {
    display: flex;
}

.iframe-video {
    width: 100%;
    height: 320px;
}

.navbar-nav a {
    color: blue;
}

.ricarteSotoIngfografia {
    width: 100%;
    max-width: 800px;
    max-height: 900px;
}

.sectionricarteSoto {
    text-align: center;
}