@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.App {
    height: 100vh;
}

.btn {
    background-color: #00519F;
    width: 140px;
    height: 40px;
    padding: 0px
}

.icon{
    width: 40px; 
    height: 40px;
    margin: 5px
}
.pos-f-t{
    height: 100%;
}

.rrss{
    margin:4px;
    display: flex;
    justify-content: center;
}

.content {
    background-color: #ffffff;
    padding: 5px;
}


    
.list-sidebar .list-group-item-action {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #f8f9fa;
    border: 1px solid rgba(0,0,0,.125);
    color: black;
    border-radius: 0px;
}

.parraghaf {
    margin-left: 10px;
}

.infoTemplateHome {
    display: flex;
}


.navbar-nav {
    padding-right: .5rem;
    padding-left: .5rem;
}

.bgNav{
    background-color: #00519F;
 }
 .navbar-nav a{
    color: white;
 }

.imgInfo{
    width: 100%;
    max-width: 1095px;
    max-height:499px;
    position: absolute;

 }
 .imgAr{
    width: 100%;
    /* max-width: 800px;
    max-height:380px;
    margin: 10px; */
 }
 .ricarteSotoIngfografia {
    width: 100%;
    max-width: 800px;
    max-height: 900px;
}
.sectionricarteSoto {
    text-align: center;
}
.text-home{
    position: absolute;
    top: 395px;
    /* margin-left: 3px; */
    text-align: center;
}