@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.App {
    height: 100vh;
}

:root {
    --color-blue: #00519F;
    --color-grey: #F1F3F4;
    --color-greyO: #D3D4D5;
    --color-white: #ffffff;
    --color-black: #000000;
}

.btn {
    background-color: var(--color-blue);
    width: 140px;
    height: 40px;
    padding: 0px
}

.icon {
    width: 40px;
    height: 40px;
    margin: 5px
}

.pos-f-t {
    height: 100%;
}

.rrss {
    margin: 4px;
    display: flex;
    justify-content: center;
}

.content {
    background-color: var(--color-white);
    padding: 5px;
}

.list-sidebar .list-group-item-action {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: var(--color-white);
    border: 1px solid rgba(0, 0, 0, .125);
    color: black;
    border-radius: 0px;
}

.parraghaf {
    margin-left: 10px;
}

.infoTemplateHome {
    display: flex;
}

.navbar-nav {
    padding-left: 2.5rem;
}

.bgNav {
    background-color: var(--color-greyO);
}

.navbar-nav a {
    color: var(--color-black);
    font-size: 14px;
}

.imgInfo {
    width: 100%;
    max-width: 1095px;
    max-height: 499px;
    position: absolute;
}

.imgAr {
    width: 100%;
}

.ricarteSotoIngfografia {
    width: 100%;
    max-width: 800px;
    max-height: 900px;
    border-radius: 1em;
}

.sectionricarteSoto {
    text-align: center;
}

.text-home {
    position: absolute;
    top: 395px;
    text-align: center;
}

​ .marginInitial {
    margin-top: 1.5em;
}

​ .bgDiv {
    background-color: var(--color-grey);
    border-radius: 1em;
}

​ .phone {
    color: var(--color-blue)
}

.logo {
    width: 90px;
}

.nameFundation {
    margin-top: 16px;
}

.contactPhone {
    font-size: 20px;
    margin-top: 20px;
}

.footermain {
    background-color: var(--color-grey);
    width: 100%;
}